.section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.partners-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}