.section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;

}

.partners-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 40px;

  img {
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 20px;
    width: 60%;
  }
}

a {
  color: #000000;
  text-decoration: none;
  :active {
    color: #000000;
    text-decoration: none;
  }
  :hover {
    color: #000000;
    text-decoration: none;
  }
}